extends _layout

block meta
    meta(
        name="description",
        content="This is a simple ExpressJS application with Pug templating engine."
    )

block content
    h1 Welcome to ExpressJS
    p This is a simple ExpressJS application with Pug templating engine.
